.name{color:aliceblue;}
.made{text-align: center;}
body{background-color: darkolivegreen;}

.elegance{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.8rem 3rem;
      background-color: #2b2f1a; 
      border-bottom: 2px solid #3e4428;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
      position: sticky;
      top: 0;
      z-index: 1000;
}

.dropdown-nav a{
      background-color: #3e4428;
      color:aliceblue;
      text-decoration: none;
      display: block;
}

.nabor{
      background-color: #3e4428;
      color:aliceblue;
      ;
}

.button{
      background-color:#3e4428;
}

.info{
      background-color:#3e4428;
      color: aliceblue;
}